/*
	.eventscalendar = the eventually displayed calandar
	#event_list = the list of events for the displayed month
	#event_entry = details page of an event
*/

/***************************************/
/*           EVENTS CALENDAR           */
/***************************************/
.eventscalendar {
	margin: 10px 0;
}
.eventscalendar table {
	width: 100%;
	border-collapse: collapse;
	text-align: center;
	vertical-align: middle;
}
.eventscalendar table a,
.eventscalendar table a:hover { /* reset possible inherited values */
	text-decoration: none;
	border: 0;
	padding: 0;
	margin: 0;
	color: #000;
	background: transparent;
}
.eventscalendar caption {
	font-size: 1.2em;
	font-weight: bold;
	padding: 5px;
}
.eventscalendar caption div.previous {
	float: left;
}
.eventscalendar caption div.previous span {
}
.eventscalendar caption div.next span {
}
.eventscalendar caption div.previous span a,
.eventscalendar caption div.next span a {
	padding: 2px;
	color: blue;
}
.eventscalendar caption div.next {
	float: right;
}
.eventscalendar thead tr {
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}
.eventscalendar thead th {
	padding: 8px 0;
	background-color: #efefef;
}
.eventscalendar tbody {
	border-bottom: 1px solid #ccc;
}
.eventscalendar tbody td {
	padding: 7px 0;
}
.eventscalendar tbody td.noday {
	background-color: transparent;
}
.eventscalendar tbody td.isevent {
	padding: 0;
	border: 1px solid #fff;
}
.eventscalendar tbody td.isevent>a {
	padding: 7px 0;
	display: block;
	background-color: orange;
}
.eventscalendar td.today.isevent {
	border: 1px solid #ccc;
}
.eventscalendar tbody td.today.isevent>a {
}
.eventscalendar tbody td>div {
	position: absolute;
	width: 16em;
	left: -999em;
	background-color: #666;
	padding: 2px;
	text-align: left;
}
.eventscalendar tbody td:hover>div {
	left: auto;
}
.eventscalendar tbody td div h5 {
	color: #fff;
}
.eventscalendar tbody td div h5,
.eventscalendar tbody td div h6 {
	font-size: 100.01%;
	margin: .1em 0;
	padding: 0;
}
.eventscalendar tbody td div p {
	margin: 0;
	padding: 0;
}
.eventscalendar tbody td div ul {
	padding: 0;
	margin: 0;
	list-style: none;
}
.eventscalendar tbody td a>a {
	background-color: transparent;
	border: none;
}
/*
	this class is used to hide some information from the visual style
	Mo<span class="display_outside">nday</span> is more accessible than
	solutions with 'abbr' or something else.
	'display:none' or 'visibility:none' don't do the job here
*/
.eventscalendar .position_outside {
	position: absolute;
	left: -999em;
}

/***************************************/
/*              EVENTLIST              */
/***************************************/
#event_list {
	margin: 10px 0;
}
#event_list ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
#event_list ul ul li {
	overflow: hidden;
	padding: 0px 10px;
	border-bottom: 1px solid #ccc;
	margin-bottom: 10px;
}
#event_list div.content_left {
	width: 63%;
	float: left;
	padding-right: 1%;
}
#event_list div.content_right {
	float: right;
	width: 33%;
	padding-left: 1%;
	border-left: 1px solid #ccc;
}
#event_list table {
	width: 100%;
	border-collapse: collapse;
	vertical-align: top;
}
#event_list h2 { /* the date in events list */
}
#event_list h3>span { /* the event title in events list */
	float: right;
	width: 1.2em; /* to make it square-shaped set to same value as h3's font-size */
}

/***************************************/
/*           EVENT_DETAILS             */
/***************************************/
#event_entry {
	min-height: 350px;
}
#event_entry h1 {
	padding-top: 0;
	margin-top: 0;
}
#event_entry h1>span { /* same principle as in event_list */
	float: right;
	width: 1em;
}
#event_entry .details_section {
	line-height: 15px;
	margin-bottom: 8px;
}
#event_entry aside {
	float: right;
	width: 170px;
	padding: 10px;
	border: 1px solid #ccc;
	background: #f4f4f4;
	margin: 0 0 15px 15px;
	background: #eee;
}
#event_entry aside h4 {
	font-size: normal;
}
#event_entry aside h4:first-child {
	padding-top: 0;
	margin-top: 0;
}

/***************************************/
/*        COMMONLY USED STYLES         */
/***************************************/
div.prevnext {
	padding: 5px 0;
	overflow: hidden;
}
div.prevnext .prev {
	float: left;
}
div.prevnext .next {
	float: right;
}
div.go_back {
	margin-top: 10px;
	text-align: center;
}
div.go_back a {
	font-weight: bold;
	text-decoration: none;
}

/***************************************/
/*  STYLES FOR THE EVENTLIST DROPLET   */
/***************************************/
ul.drop_event_list {
	margin: 0;
	padding: 0;
}
.drop_event_list li {
	list-style-type: none;
}
.drop_event_list li a>div {
	display: block;
	padding: 5px;
	color: #000;
}
.drop_event_list li a>div:hover {
	background-color: #aaa;
}
	
.drop_event_list li span.date_time {
	font-style: italic;
}
.drop_event_list li h4 {
	margin: 3px 0;
}
.drop_event_list li p {
	line-height: normal;
	margin: 2px 0;
}
.drop_event_list li p.custom1 {
}
.drop_event_list li p.custom2 {
}
