/*
	.eventscalendar = the eventually displayed calandar
	For the calendar display this CSS makes the tooltips open to the top instead to the bottom.
	Simply replace all .eventscalendar classes in your frontend.css with theses styles.
*/

/***************************************/
/*           EVENTS CALENDAR           */
/***************************************/
.eventscalendar {
	margin: 10px auto;
}
.eventscalendar table {
	width: 100%;
	border-collapse: collapse;
	text-align: center;
	vertical-align: middle;
	margin: 0 auto;
}
.eventscalendar table a,
.eventscalendar table a:hover { /* reset possible inherited values */
	text-decoration: none;
	border: 0 none;
	padding: 0;
	margin: 0;
	color: #000000;
	background: none repeat scroll 0 0 transparent;
}
.eventscalendar caption {
	font-size: 1.2em;
	font-weight: bold;
	padding: 5px;
}
.eventscalendar caption div.previous {
	float: left;
}
.eventscalendar caption div.previous span {
}
.eventscalendar caption div.next span {
}
.eventscalendar caption div.previous span a,
.eventscalendar caption div.next span a {
	padding: 2px;
	color: blue;
}
.eventscalendar caption div.next {
	float: right;
}
.eventscalendar thead tr {
	border-top: 1px solid #CCCCCC;
	border-bottom: 1px solid #CCCCCC;
}
.eventscalendar thead th {
	padding: 8px 0;
	background-color: #EFEFEF;
	float: left;
	width: 14.2%;
}
.eventscalendar tbody {
	border-bottom: 1px solid #CCCCCC;
}
.eventscalendar tbody td {
	display: block;
	float: left;
	padding: 0;
	position: relative;
	width: 14.2%;
}
.eventscalendar tbody td.noday {
	background-color: transparent;
}
.eventscalendar tbody td span {
	border: 1px solid transparent;
	display: block;
	margin: 1px;
	padding: 6px 0;
}
.eventscalendar tbody td.today span {
	border: 1px solid blue;
}
.eventscalendar tbody td.isevent {
	padding: 0;
}
.eventscalendar tbody td.isevent > a {
	background-color: orange;
	border: 1px solid;
	display: block;
	margin: 1px;
	padding: 6px 0;
}
.eventscalendar tbody td.today.isevent > a {
	border-color: blue;
}
.eventscalendar tbody td > div {
	background-color: #666;
	left: -999em;
	margin-right: 16em;
	padding: 2px;
	position: absolute;
	text-align: left;
	width: 16em;
	margin-left: 1px;
}
.eventscalendar tbody td:hover > div {
	bottom: 100%;
	float: right;
	left: auto;
	/*
	Uncomment this if you want the tooltip open to the left
	right: 0;
	*/
}
.eventscalendar tbody td div h5 {
	color: #FFFFFF;
}
.eventscalendar tbody td div h5,
.eventscalendar tbody td div h6 {
	font-size: 100.01%;
	margin: 0.1em 0;
	padding: 0;
}
.eventscalendar tbody td div p {
	margin: 0;
	padding: 0;
}
.eventscalendar tbody td div ul {
	padding: 0;
	margin: 0;
	list-style: none outside none;
}
.eventscalendar tbody td a > a {
	background-color: transparent;
	border: medium none;
}
/*
	this class is used to hide some information from the visual style
	Mo<span class="display_outside">nday</span> is more accessible than
	solutions with 'abbr' or something else.
	'display:none' or 'visibility:none' don't do the job here
*/
.eventscalendar .position_outside {
	position: absolute;
	left: -999em;
}
